<html>
	<head>
		<link rel="stylesheet" href="index.css">
	</head>
	<body>
		<div class="header">
			<div class="name">
				<div class="app">
					RPORTAL
				</div>
				<div class="tagline">
					India Works Digitally		
				</div>
			</div>
		</div>
		<div>
			<div class="info">
				yoyo here comes the theme	
			</div>	
			<div>
				<center>
					<button>
						LOGIN	
					</button>
					&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
					&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
					<button>
						SIGN UP
					</button>
				</center>
			</div>
		</div>
	</body>
</html>
