<!DOCTYPE html>
<html lang="en">
    <head>
        <title>RManage</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="index.css">
    </head>
    <body>
	<div class="header">
                        <div class="name">
                                <div class="app">
                                        RPORTAL
                                </div>
                                <div class="tagline">
                                        India Works Digitally
                                </div>
                        </div>
	</div>
        <div>
                        <div class="info">
                                yoyo here comes the theme
                        </div>
                        <div>
                                <center>
					<a href="/rmanage/register"><button id="register">APPLY NOW</button></a>
                                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                        <a href="/rmanage/login"><button id="login">LOGIN</button></a>
                                </center>
                        </div>
        </div>
    </body>
</html>
